<div class="container">
    <div class="conteudo">
        <div class="logo">Arkanun</div>
        <div class="cabecalho">
            Nome: <input type="text" size="90"> Data de Nasc.: <input type="date"><br><br>
            Local de Nascimento:  <input type="text" size="30">
            Sexo: 
            <select>
                <option>Masculino</option>
                <option>Feminino</option>
                <option>Homem Transgênero</option>
                <option>Mulher Transgênero</option>
                <option>Homem Transexual</option>
                <option>Mulher Transexual</option>
            </select><br><br>
            Altura: <input type="number" size="10"> Peso: <input type="number" size="10"> 
            Idade Aparente: <input type="number"> Real: <input type="number"><br><br>
            Classe Social/Profissão: <input type="text" size="50"> Nível: <input type="number" size="4"><br><br>
            Idiomas: <input type="text" size="30"> Religião: <input type="text" size="30"> Fé: <input type="number" size="4">
        </div>
        <div class="atributos">
            <table border="1">
                <tr>
                    <th>Atributos</th>
                    <th>Valor /</th>
                    <th>Mod /</th>
                    <th>%</th>
                </tr>
                <tr>
                    <td>Constituição (CON)</td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                </tr>
                <tr>
                    <td>Força (FR)</td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                </tr>
                <tr>
                    <td>Destreza (DEX)</td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                </tr>
                <tr>
                    <td>Agilidade (AGI)</td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                </tr>
                <tr>
                    <td>Inteligência (INT)</td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                </tr>
                <tr>
                    <td>Força de Vontade (WILL)</td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                </tr>
                <tr>
                    <td>Percepção (PER)</td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                </tr>
                <tr>
                    <td>Carisma (CAR)</td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                    <td><input type="number" size="4"></td>
                </tr>
            </table>
        </div>
        <div class="pericias">
            
        </div>
    </div>
</div>
