div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 100vw;
    height: 1000px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
}

.conteudo {
    width: 900px;
    height: 990px;
    background-color: green;
    margin-top: 10px;
}

.logo {
    font-size: 100px; 
    text-align: center;
    background-color: yellow;
}

.cabecalho {
    width: 900px;
    font-size: 20px; 
    background-color: pink;
}

.atributos {
    background-color: orangered;
    float: left;
}

.pericias {
    background-color: purple;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}