<div class="container">
    <div class="conteudo">
        <div class="logo">Arkanun</div>
        <div class="cabecalho">
            Nome: <input type="text" size="90"> Data de Nasc.: <input type="date"><br><br>
            Local de Nascimento:  <input type="text" size="30">
            Sexo: 
            <select>
                <option>Masculino</option>
                <option>Feminino</option>
                <option>Homem Transgênero</option>
                <option>Mulher Transgênero</option>
                <option>Homem Transexual</option>
                <option>Mulher Transexual</option>
            </select><br><br>
            Altura: <input type="number" size="10"> Peso: <input type="number" size="10"> 
            Idade Aparente: <input type="number"> Real: <input type="number"><br><br>
            Classe Social/Profissão: <input type="text" size="50"> Nível: <input type="number" size="4"><br><br>
            Idiomas: <input type="text" size="30"> Religião: <input type="text" size="30"> Fé: <input type="number" size="4">
        </div>
    </div>
</div>
